html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 }
 
body {
 background-color: #E6E6FA; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }

/*
 * 
 * 
*/
#map{
 background-color: #7F7F7F;
 margin-left: 0;
 height: 100%;
}


/*
 * MenuLayers
 * 
*/
#menuLayers {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 0px;
	width: 120px;
	font-family: 'Open Sans', sans-serif;
}

#menuLayers button {
	opacity: 0.4;
	font-size: 12px;
	background: #f7f7f7;
	width: 120px;
	
	
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px grey;
    
    outline: none;
    
	color: #404040;
	
	display: block;
	margin: 0;
	margin-top: -1px;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	text-align: right;
}


#menuLayers button:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	background-color: #f8f8f8;
	color: #404040;
	transform: translateX(10px);
	transition: 0.5s;
}

#menuLayers button.active {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	color: #0b0c0c;
}

#menuLayers button.active:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	background: #d9dbdb;
