html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 }
 
body {
 background-color: #E6E6FA; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }


#map{
 background-color: #7F7F7F;
 margin-left: 0;
 height: 100%;
}
